body {
    background-color: #673AB7;
    font-family: 'Source Code Pro', monospace;
    color: #212121;
}

#master {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: auto;
  padding: auto;
}

#card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: dotted 10px #FFEB3B;
  border-radius: 10px 10px 10px 10px;
  max-width: 29%;
  margin: 50px 0;
  padding: 0;
  text-align: center;
  font-size: 16px;
  font-family: 'Source Code Pro', monospace;
  background-color: #D1C4E9;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 10px 10px;
  width: 90%;
}

#buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#Dog {
  background-color: #BDBDBD;
  border-radius: 12px;
  font-family: 'Source Code Pro', monospace;
  color: #757575;
  margin: 4px 2px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

#Cat {
  background-color: #FFEB3B;
  border-radius: 12px;
  font-family: 'Source Code Pro', monospace;
  color: #757575;
  margin: 4px 2px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

#Dino {
  background-color: #512DA8;
  border-radius: 12px;
  font-family: 'Source Code Pro', monospace;
  color: #FFFFFF;
  margin: 4px 2px;
  padding: 20px;
  text-align: center;
  font-size: 16px;  
}

#allpets {
  background-color: #757575;
  border-radius: 12px;
  font-family: 'Source Code Pro', monospace;
  color: #FFFFFF;
  margin: 4px 2px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

#name {
  background-color: #512DA8;
  font-family: 'Source Code Pro', monospace;
  color: #FFFFFF;
  margin: 4px 2px;
  padding: 20px;
}

#type {
  background-color: #757575;
  border-radius: 12px;
  font-family: 'Source Code Pro', monospace;
  color: #FFEB3B;
  margin: 4px 2px;
  padding: 20px;
}

h1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}